*{
margin:0;
padding:0;
box-sizing: border-box;


}
.wrapper{
  height:100vh;
  overflow: hidden;
  width:100%;
  position: relative;
}

.animation,.finish{
  position:absolute;

}

.intro,.finish,.animation{
  position: absolute;
    height:100vh;
    width:100%;

}

.intro{

  display:flex;
  justify-content: center;
  align-items: center;
    opacity:0;
 animation: showintro 5s linear;
    z-index:3

}
@keyframes showintro{

  0%{transform:translateX(0%);opacity:1}
    90%{transform:translateX(0%);}
      100%{ transform:translateX(100%);opacity:1}
}


 video{
  position:absolute;
  min-width:100%;
  min-height:100%;
  z-index:-1;

}
.bg-content{
  color:rgb(160,183,221);

font-family: sans-serif;
  text-align: center;
  perspective: 200px

}

.bg-content img{
border-radius:50%;
width: 200px;
    height: 200px;

}
.name{
  text-shadow: 0px 10px 10px rgb(160,183,221);

  font-size:8em;
  animation:right 1s linear ;


}
.presents{
  font-size:4em;

    animation:left 1s linear;

}

.animation{

      background:url('../images/city/city.png');
      background-repeat: no-repeat;
      background-size: cover;
      perspective: 200PX;
}

.finish{
  z-index:1;
opacity:0;
background:black;
 animation:animate 3s linear 10s;
animation-fill-mode: forwards;
display:flex;
justify-content: center;
align-items: center;
color:#fff;
}

@keyframes animate{
0%{opacity:1;transform:translateY(-100%);}
100%{opacity:1;transform:translateY(0%);opacity:1}

}



@keyframes right{
  0%{transform:translateX(1000px);opacity:0.1}
    100%{transform:translateX(0%);opacity:0.5}
}

@keyframes left{
  0%{transform:translateX(-1000px);opacity:0.5}
    100%{transform:translateX(0%);opacity:0.5}
}


.bird{
  background:url('../images/city/bird.png');
  height:69px;
  width:100px;
  animation:flap 4s steps(4) infinite,fly 6s linear 4s;
  position:absolute;
  animation-fill-mode: forwards;

}
.car1{
width:640px;
height:320px;
background:url('../images/city/car1.png');
position: absolute;
top:32%;
 animation: cars 3s linear 4s;
 z-index:2;
 animation-fill-mode:forwards;
}

.car3{
width:640px;
height:320px;
background:url('../images/city/car3.png');
position: absolute;
top:32%;
 animation: cars 2s linear 7s;
 z-index:2;
 left:-100%
}

.car4{
width:640px;
height:320px;
background:url('../images/city/car4.png');
position: absolute;
top:22%;
 animation: carsright 1s linear 2s;
 z-index:1;
 animation-fill-mode: forwards;
}

.boy{
  background:url('../images/city/boy_walk.png');
animation:boy 1s steps(15) infinite,walk 10s linear 5s;
height:566px;
width:616px;
top:37%;
position:absolute;
z-index:6;
animation-fill-mode: forwards;
left:-20%;

}

@keyframes walk{
  0%{left:0%}
    100%{left:100%}
}

@keyframes boy{
  0%{background-position-x: 0}
  100%{background-position-x: 9240px}
}

@keyframes cars{
0%{left:-100%}
100%{opacity:1;left:100%}
}

@keyframes carsright{
0%{right:-100%}
100%{opacity:1;right:100%}
}


.car2{
width:640px;
height:320px;
background:url('../images/city/car2.png');
position: absolute;
top:22%;
right:100%;
animation:carsright 6s linear 1s  ;
z-index:1;
}





@keyframes fly{
0%{left:0%; top:100px;}
  100%{left:100%;top:100px;}
}

@keyframes flap{
0%{background-position-x:0}
100%{background-position-x:400px}
}
